# MongoDB Connection
MONGODB_URI=

# NextAuth Configuration
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Email Configuration (Gmail)
EMAIL_USER=
EMAIL_PASSWORD=

# Google login Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook login Configuration
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=