@import "tailwindcss";

@theme {
  /* Primary Colors */
  --color-primary-100: #002159;
  --color-primary-200: #061e4f;
  --color-primary-300: #0a1b45;

  /* Surface/Background Colors */
  --color-surface-100: #ffffff;
  --color-surface-200: #f0f0f0;
  --color-surface-300: #e1e1e1;

  /* Tonal Surface Colors */
  --color-surface-tonal-100: #e6e6ed;
  --color-surface-tonal-200: #dadae0;
  --color-surface-tonal-300: #ceced4;

  /* Success/Green */
  --color-success-100: #2d6e41;
  --color-success-200: #43a461;
  --color-success-300: #70c48a;

  /* Warning/Amber */
  --color-warning-100: #b5892b;
  --color-warning-200: #d7ae56;
  --color-warning-300: #e5cb94;

  /* Danger/Red */
  --color-danger-100: #631a1a;
  --color-danger-200: #a02a2a;
  --color-danger-300: #cf4747;

  /* Info/Blue */
  --color-info-100: #1a4263;
  --color-info-200: #2a6aa0;
  --color-info-300: #4791cf;

  /* Basic Text/Background */
  --color-dark: #000000;
  --color-light: #ffffff;
}
